---
import Main from "../../layouts/Main.astro";
import { getCollection } from "astro:content";
import { collections } from "../../content/config";

export const getStaticPaths = async () =>
    await Promise.all(
        Object.keys(collections).flatMap(async (content: any) =>
            (await getCollection(content)).map((entry: any) => ({
                params: { content, slug: entry.slug },
                props: { entry },
            })),
        ),
    );

const {
    entry: {
        render,
        data: { title },
    },
} = Astro.props;
const { Content, headings: _ } = await render();
---

<Main content={{ title }}>
    <h1><a href="../">{title}</a></h1>
    <Content />
</Main>
