---
import { getCollection } from "astro:content";
import { collections } from "../../content/config";

import Layout from "../../layouts/Layout.astro";

export const getStaticPaths = () =>
    Object.keys(collections).map((content) => ({
        params: { content },
    }));

const { content: title } = Astro.params;
const entries = await getCollection(title);
---

<Layout content={{ title }}>
    {
        entries.map(({ slug, data: { title }}) => <h1><a href={`./${slug}/`}>{title}</a></h1>)
    }
</Layout>
