dl, ul, ol
    padding-left: 1em

html
    @apply text-black text-lg bg-white leading-normal
    @apply dark:text-white dark:bg-black
    @apply print:text-white print:bg-black
    font-family: Roboto, 'UD Digi Kyokasho NK-R', sans-serif
body, main
    @apply mx-auto my-4
main
    @apply print:mx-4 max-w-[40em] print:max-w-none mb-[30em]

h1, h2, h3
    @apply leading-tight dark:text-yellow print:text-yellow

a
    @apply text-blue no-underline hover:underline
    @apply dark:text-yellow dark:hover:bg-darker dark:hover:text-white
    @apply visited:text-red dark:visited:text-light

p, header, dl, ul, ol, pre
    @apply m-0

rt
    @apply select-none

table
    @apply border-collapse whitespace-nowrap
tbody
    @apply divide-solid divide-dark divide-x-0 divide-y
th:empty
    @apply hidden
thead > tr:last-child th:not(:empty)
    // only bottom border
    @apply border-0 border-b border-solid
td, th
    @apply p-2
