@import "colors"
@import "fonts"

$font: roboto
$jpn: 'UD Digi Kyokasho NK-R', kosugi
$mono: iosevka, consolas

$pad: 1em
$border-left: 0.25em

html
    font-family: $font, $jpn, sans-serif
    font-size: 20px !important
    background: $background
    color: $color
    cursor: pointer
body
    padding-bottom: 30em
    white-space: nowrap
    max-width: 36em
    margin: 0 auto
    cursor: initial
rt
    user-select: none
img.tikz
    filter: invert(1)
header#title-block-header
    display: flex
    justify-content: center
p, header, dl, ul, ol, pre
    margin: 0
ul, ol
    padding-left: $pad
h1:not(.title)
    border-bottom: 1px solid
h1, h2, h3
    color: $yellow
    margin: 0.5em 0
    cursor: pointer
    user-select: none
a
    color: $yellow
    text-decoration: none
    &:visited
        color: $yellow
    &:hover
        color: $color
        text-decoration: underline
        background: $darker
blockquote
    color: rgba($color, 0.75) !important
table
    border-collapse: collapse
    white-space: nowrap
    tbody > tr:not(:first-child)
        border-top: 1px solid $light
    thead
        border-bottom: 1px solid $color !important
    td,th
        padding: 0.5em
pre
    background: $darker
    & > code
        display: block
        padding-top: 5px
        padding-bottom: 5px
code
    color: $color
    padding: 0 5px
    line-height: 1.3
    font-family: $mono

