$black: #000000
$darkest: #030303
$darker: #0f0f0f
$dark: #212121
$gray: #3c3c3c
$light: #5e5e5e
$lighter: #878787
$lightest: #b8b8b8
$white: #f1f1f1
$red: #c53943
$green: #39c575
$orange: #ff9966
$blue: #3989c5
$indigo: #3943c5
$leek: #39c5bb
$pink: #ff6680
$lime: #66ff99
$yellow: #ffe666
$sky: #66ccff
$purple: #a68cd9
$cyan: #66ffe6

$background: $black
$color: $white

$proportional: 'source sans pro', arial
$monospaced: 'iosevka custom extended', consolas

$pad: 1em
$font: 20px
$border-left: 0.25em

@function half($value)
    @return $value * 0.5

@mixin darken-background($accent)
    background: rgba($accent, 0.10)

@mixin pad
    padding: half($pad) $pad

@mixin quote($accent)
    +pad()
    margin: 0
    border-left: $border-left solid $accent
    +darken-background($accent)

@mixin framed($selector, $accent)
    &.#{$selector}
        +quote($accent)
        padding-top: 0
        strong, .textbf
            color: $accent
        summary
            cursor: pointer
        & > summary
            +pad()
            +darken-background($accent)
            display: block
            margin-left: -$pad
            margin-right: -$pad

@mixin prefixed($selector, $accent)
    +framed($selector, $accent)
    &.#{$selector} > summary::before
        content: "#{$selector}."
        text-transform: capitalize
        font-weight: bold
        color: $accent

.hidden
    display: none

html
    font-family: $proportional, $monospaced, 'UD Digi Kyokasho NK-R', sans-serif
    font-size: $font
    background: $background
    color: $color
    body
        padding-bottom: 30em
    header#title-block-header
        display: flex
        justify-content: center
    p, header, ul, ol, pre
        margin: 0
    ul, ol
        padding-left: $pad * 2
    h1:not(.title)
        border-bottom: 1px solid
    h1, h2, h3
        color: $yellow
        margin: 0.5em 0
        cursor: pointer
        user-select: none
    a
        color: $yellow
        text-decoration: none
        &:visited
            color: $yellow
        &:hover
            color: $color
            text-decoration: underline
            background: $darker
    blockquote
        +quote($yellow)
        color: rgba($color, 0.75) !important
    table
        border-collapse: collapse
        tbody > tr:not(:first-child)
            border-top: 1px solid $light
        thead
            border-bottom: 1px solid $color !important
        td,th
            padding: 0.5em
    pre
        background: $darker
        & > code
            display: block
            padding-top: 5px
            padding-bottom: 5px
    code
        color: $color
        padding: 0 5px
        line-height: 1.3
        font-family: $monospaced

details
    +prefixed(theorem, $leek)
    +prefixed(example, $orange)
    +prefixed(definition, $sky)
    +prefixed(algorithm, $pink)

    +framed('leek', $leek)
    +framed('orange', $orange)
    +framed('sky', $sky)
    +framed('pink', $pink)
    +framed('yellow', $yellow)

.inference + ul > li
    list-style-type: decimal
    &:last-child
        border-top: solid 1px $color
        list-style-type: '∴ '
