@import "colors"
@import "html"
@import "details"
@import "toc"

// for script.js
.hidden
    display: none

// 2d tables
.\32 d > table tr
    td:first-child, th:first-child
        border-right: 1px solid $color
        font-weight: bold

